* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer {
    background-color: #1F2937;
}
h1 {
    font-size: 48px ;
    font-weight: extra-bold;
    color: #F9FAF8;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}
h3 {
    font-size: 24px;
    color: #F9FAF8;
}
button, #action-section {
    background-color: #3882F6;
}
h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
#quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 48px;
    padding: 10px;
}
#nav-title {
    display: flex;
    align-items: center;
}
#nav-links {
    display: flex;
    justify-content: left;
    
}