* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer {
    background-color: #1F2937;
}
h1 {
    font-size: 4rem;
    font-weight: extra-bold;
    color: #F9FAF8;
}
p {
    font-size: 1.5rem;
    color: #E5E7EB;
}
h3 {
    font-size: 2.5rem;
    color: #F9FAF8;
}
button, #action-section {
    background-color: #3882F6;
}
h2 {
    
    font-weight: extra-bold;
    color: #1F2937;
}
#quote-section {
    background-color: #E5E7EB;
    
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0 7px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 48px;
    padding: 10px;
}
#nav-title {
    display: flex;
}
#nav-links {
    display: flex;
}
#hero-section {
    margin: 100px 48px; 
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}
#main-hero {
    width: 600px;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8 solid 1px;
    padding: 0.4rem 1.4rem;
    font-size: 1.5rem;
    border-radius: 9px;
}
